 
body {

  font-family: Arial, sans-serif;
  background: #222222;
  
}


.page-title {
  color: white;
  font-size: 50px;
  padding-bottom: 2.5px;
 
  display: inline-block;
  margin-bottom: 5px;
  left: 50%;
}

#buttonContainer {
  text-align: center;
  margin-top: 5px;
}

.button {
  padding: 5px 12.5px;
  font-size: 0.75rem;
  margin: 0px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button.active {
  border-color: #4CAF50;  
  background-color: #4CAF50; 
  color: white; 
}

.waste-generation {
position: relative;
padding: 5px;
width: 50%;
height: 450px;
margin: 0 auto;

justify-content: center;
align-items: center;
}

#circleChart {
width: 100%;
height: 100%;
}


.hidden {
  display: none;
}

#imageDisplay {
  text-align: center;
  margin: 5px auto;
  padding: 5px;
  
 
}



#imageDisplay img {
  width: 100%;  
  max-width: 375px;  
  height: auto;  
  display: none;  /* hide images b ydefault*/
  margin: 0 auto;  
  display: none; 
}

#imageDisplay img.show {
  display: block; /* ensure only the image with "show" is shown */
}

.show {
  display: block;
}

#divider {
  width: 40%;  
  height: 0.5px;  
  background-color: white;
  margin: 7.5px auto;  
}

#imageRow {
  display: flex;  
  justify-content: center; 
  align-items: center;  
  max-width: 100%;
  height: 375px;
  gap: 37.5px; 
}

#barChart1,#barChart2 {
height: 80%;
width: 20%;
}


.chart{
position: relative;
padding: 5px;
justify-content: center;
align-items: center;

}
#chartContainer{
position: relative;
margin: 0 auto;

justify-content: center;
align-items: center;
}


#chartImage {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

display: none; /* initially hidden */
}


p {
  line-height: 1.6;
}

.text-block {
  width: 40%;
  font-size: 0.75rem;
  margin: 0 auto;
  text-align: justify;
}

header, footer {
  background-color: #222222;

  color: white;
  padding: 5px;
  text-align: center;
}

nav ul {
  color: white;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 5px;
}

article {
  background-color: #222222;
  margin: 5px 0;
  padding: 5px;
}

.button-link {
  display: inline-block;  
  font-size: 1rem;
  padding: 2.5px 5px;  
  margin: 25px 0;  
  background-color: #4CAF50;  
  color: white;  
  text-decoration: none;  
  border-radius: 1.25px;  
  border: none;  
  text-align: center;  
  transition: background-color 0.3s, color 0.3s; 
}

.button-link:hover {
  background-color: #367c39;  
  color: #fff;  
}
 