/* Add your CSS here */
body {
    font-family: Arial, sans-serif;
    background: #222222;
    
  }
  .page-title {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
   
    display: inline-block;
    margin-bottom: 20px;
    left: 50%;
  }

  #buttonContainer {
    text-align: center;
    margin-top: 20px;
  }

  .button {
    padding: 20px 50px;
    font-size: 3rem;
    margin: 0px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .button.active {
    border-color: #4CAF50; /* Border color for active button */
    background-color: #4CAF50; /* Background color for active button */
    color: white; /* Text color for active button */
  }

 .waste-generation {
  position: relative;
  padding: 20px;
  width: 50%;
  height: 1800px;
  margin: 0 auto;
  
  justify-content: center;
  align-items: center;
 }

 #circleChart {
  width: 100%;
  height: 100%;
 }


  .hidden {
    display: none;
  }

  #imageDisplay {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    
  /* Ensure the container is large enough to accommodate bigger images */
   /* Adjust this as needed */
  }

 

  #imageDisplay img {
    width: 100%; /* Image will scale to fit its container */
    max-width: 1500px; /* Adjust this value to control the image size */
    height: auto; /* Maintain aspect ratio */
    display: none; /* Hide images by default */
    margin: 0 auto; /* Centers block-level elements horizontally */
    display: none; /* Hide all images initially */
  }
  
  #imageDisplay img.show {
    display: block; /* Only show the image with 'show' class */
  }

  .show {
    display: block;
  }

  #divider {
    width: 40%; /* Adjust the width as needed */
    height: 2px; /* Adjust the thickness of the line */
    background-color: white;
    margin: 30px auto; /* Centers the line horizontally and adds space above and below */
  }

  #imageRow {
    display: flex; /* This makes it a flex container */
    justify-content: center; /* This centers the images horizontally in the container */
    align-items: center; /* This centers the images vertically */
    max-width: 100%;
    height: 1500px;
    gap: 150px; /* This adds space between the images */
  }
  
#barChart1,#barChart2 {
  height: 70%;
  width: 20%;
}

  
.chart{
  position: relative;
  padding: 20px;
  justify-content: center;
  align-items: center;
  
}
#chartContainer{
  position: relative;
  margin: 0 auto;
  
  justify-content: center;
  align-items: center;
}


#chartImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none; /* Initially hidden */
}


  p {
    line-height: 1.6;
  }

  .text-block {
    width: 40%;
    font-size: 3rem;
    margin: 0 auto;
    text-align: justify;
  }
  
  header, footer {
    background-color: #222222;

    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    color: white;
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  article {
    background-color: #222222;
    margin: 20px 0;
    padding: 20px;
  }

  .button-link {
    display: inline-block; /* Allows the application of padding and margin */
    font-size: 4rem;
    padding: 10px 20px; /* Adds space inside the button */
    margin: 100px 0; /* Adds space outside the button, adjust as needed */
    background-color: #4CAF50; /* Background color of the button */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline from link */
    border-radius: 5px; /* Rounds the corners of the button */
    border: none; /* Removes the border */
    text-align: center; /* Centers the text */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  }
  
  .button-link:hover {
    background-color: #367c39; /* Darker shade for hover effect */
    color: #fff; /* Text color on hover */
  }
  
  
  /* You will need to add classes and IDs to your HTML elements to apply specific styles */
  