body {
  font-family: Arial, sans-serif;
  background: #222222;
  
}

.title {
  color: white;
  font-size: 37.5px;
  margin-bottom: 2.5px;
  margin-left: 5px;
}
#divider {
  width: 80%; /* Adjust the width as needed */
  height: 0.5px; /* Adjust the thickness of the line */
  float: left;
  
  background-color: white;
  margin: 7.5px auto; /* Centers the line horizontally and adds space above and below */
}

.text-block {
  color: white;
  width: 90%;
  float: left;
  font-size: 0.75rem;
  margin: 0 auto;
  text-align: justify;
}

.bar .pop-label {
  display: block;
  font-size: 15px;
  color:aliceblue;
}

.bar {
  display: block;
  align-items: center;
  margin-left: 12.5px;
}

.gov-pop {
  width: 80%;
  
  background-color: #545454;
  /* Add some padding around the progress bar for visibility */
   /* Optional: Adds rounded corners to the container */
  
   /* Optional: Adds a subtle shadow for depth */
   border-radius: 2px;
   align-items: center;
  
  
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #4CAF50;
  text-align: center;
  color: white;
  align-items: center;
  font-size: 1rem;
  border-radius: 2px;
  transition: width 0.3s ease;
  height: 25px; /* Adjust as needed */
  
}

.tax {
padding-bottom: 12.5px;
color: white;
align-items: center;
font-size: 1.25rem;
}



.container {  
  display: grid;
  height: 425px;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 0.8fr 1.4fr 0.9fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "step-indicator step-indicator"
  "single-use-packaging chart"
  "slider chart"
  "gov-pop chart";
    
}

.step-indicator { 
  grid-area: step-indicator; 
  display: flex;
  
  justify-content: center; /* Center the steps */
  align-items: center;
  position: relative; /* Needed for absolute positioning of lines */
  padding: 5px 0; /* Adjust padding as needed */
}

.single-use-packaging { 
  grid-area: single-use-packaging; 
  width: 90%;
  margin-left: 12.5px;
}

.chart { 
  padding: 25px;
  position: relative;
 height: 100%;
 display: grid; 
 grid-template-columns: 1fr 1fr; 
 grid-template-rows: 1fr 1fr; 
 gap: 125px 0px; 
 grid-template-areas: 
   "circle1 circle2"
   "circle3 circle4"; 
 grid-area: chart; 
    /* Center the container */
  
}




.slider-container { 
  padding-bottom: 50px;
  grid-area: slider; 
  margin-left: 12.5px
}

.gov-pop { grid-area: gov-pop; }

.circle1 { 
grid-area: circle1; 
display: flex;
justify-content: center;
align-items: center;
}

.circle-2 { 
grid-area: circle-2; 
display: flex;
justify-content: center;
align-items: center;
}

.circle3 { 
grid-area: circle3; 
display: flex;
justify-content: center;
align-items: center;
}

.circele4 { 
grid-area: circele4; 
display: flex;
justify-content: center;
align-items: center;
}


.circle {
  
  width: 150px; /* Circle size */
  height: 150px; /* Circle size */
  border-radius: 50%; /* Make it round */
  background-color: #00BF63; /* Circle color */
  transition: transform 0.5s; /* Smooth transition for transform */
  transform-origin: center; /* Ensures scaling from center */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.25em;




}

span#title {
  text-align: center;
}

input[type=range] {
  width: 75px;
  margin-top: 5px;
}

#slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  position: relative;
  top: 15px;
  width: 75%; /* Full-width */
  height: 6.25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
#slider:hover{
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#slider::-moz-range-thumb {
  width: 12.5px; /* Set a specific slider handle width */
  height: 12.5px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}











.step {
  background-color: #ddd; /* Non-active step background color */
  border-radius: 3.75px; /* Adjusted for rounded corners */
  padding: 5px 10px; /* Adjusted padding inside each step */
  margin: 0 25px; /* Increased spacing between steps */
  text-align: center;
  position: relative; /* Needed for absolute positioning of lines */
}

.step:not(:last-child):not(:nth-last-child(2))::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -50px; /* Adjust based on the space between steps */
  width: 100px; /* Adjusted to equal the space between steps */
  height: 0.25px;
  border-top: 3.75px dotted #ccc; /* Increased border size for sparser dots */
  z-index: -1;
  transform: translateY(-50%);
}

.step.active {
  background-color: #4CAF50; /* Active step background color */
  color: white; /* Active step text color */
}

.step.prev {
  background-color: #307033; /* Active step background color */
  color: #B4AEAE; /* Active step text color */
}

.step-title {
  font-size: 1em; /* Adjust font size as necessary */
}

.button-link {
  display: inline-block; /* Allows the application of padding and margin */
  font-size: 0.75rem;
  padding: 2.5px 5px; /* Adds space inside the button */
  margin: 25px 0; /* Adds space outside the button, adjust as needed */
  border-radius: 12.5px;
  background-color: #15A0EF; /* Background color of the button */
  color: white; /* Text color */
  text-decoration: none; /* Removes underline from link */
  border-radius: 1.25px; /* Rounds the corners of the button */
  border: none; /* Removes the border */
  text-align: center; /* Centers the text */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.button-link:hover {
  background-color: #0D6FA6; /* Darker shade for hover effect */
  color: #fff; /* Text color on hover */
}
